/* --------- */
/* Variables */
/* --------- */

:root {
  --clr-red: 340, 80%, 50%;
  --clr-green: 150, 70%, 30%;
  --clr-orange: 40, 100%, 50%;
  --clr-blue: 256, 67%, 48%;
  --clr-blue-light: 256, 100%, 60%;
  --clr-navy: 227, 40%, 30%;
  --clr-gray: 227, 15%, 45%;
  --clr-light: 216, 20%, 95%;
  --clr-white: 0, 0%, 100%;

  --ff-sans: "Poppins", sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

/* ----- */
/* Reset */
/* ----- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid hsl(var(--clr-orange));
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------- */
/* General */
/* ------- */

body {
  color: hsl(var(--clr-navy));
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 1.5;
  background-color: hsl(var(--clr-light));
}

.container {
  margin: 0 auto;
  max-width: min(90%, 60rem);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* ------ */
/* Header */
/* ------ */

.header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: hsl(var(--clr-blue));
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: var(--fw-500);
  font-size: var(--fs-600);
  color: hsl(var(--clr-white));
}

.logo [class^="ph"] {
  font-size: 3rem;
  color: hsl(var(--clr-white));
}

.button {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  border: none;
  cursor: pointer;
  background: none;
}

.transaction-button {
  color: hsl(var(--clr-white));
  min-width: 100%;
  padding: 1em;
  border-radius: 5px;
  background-color: hsl(var(--clr-blue-light));
  box-shadow: var(--shadow);

  transition: background-color 0.1s linear, color 0.2s ease-in-out;
}

.transaction-button:focus-visible,
.transaction-button:hover {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-navy));
  box-shadow: none;
  border: none;
}

.transaction-button:active {
  opacity: 0.9;
}

/* ---------- */
/* Cards List */
/* ---------- */

.card-list {
  margin-top: 1.5rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  background-color: hsl(var(--clr-white));
  flex-basis: 100%;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: var(--shadow);
}

.card > header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.card h2 {
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  margin-bottom: 1rem;
}

.card p {
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
}

.card [class^="ph"] {
  font-size: var(--fs-700);
}

.card:nth-child(1) [class^="ph"] {
  color: hsl(var(--clr-green));
}

.card:nth-child(2) [class^="ph"] {
  color: hsl(var(--clr-red));
}

.card:nth-child(3) [class^="ph"] {
  color: hsl(var(--clr-white));
}

.card:nth-child(3) {
  background-color: hsl(var(--clr-green));
  color: hsl(var(--clr-white));
}

/* ------------------ */
/* Transactions Table */
/* ------------------ */

.transactions-table {
  margin-top: 2rem;
  width: 100%;
}

.transactions-table thead {
  display: none;
}

.transactions-table tr {
  display: flex;
  font-weight: var(--fw-500);
  flex-direction: column;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
  gap: 0.5em;
}

.transactions-table > tbody tr {
  padding: 1em 1.5em;
  background-color: hsl(var(--clr-white));
  box-shadow: var(--shadow);
}

.transactions-table > tbody td:nth-child(1) {
  color: hsl(var(--clr-navy));
}

.transactions-table > tbody td:nth-child(2) {
  font-size: var(--fs-500);
}

.transactions-table .income {
  color: hsl(var(--clr-green));
  font-weight: var(--fw-600);
}

.transactions-table .outcome {
  color: hsl(var(--clr-red));
  font-weight: var(--fw-600);
}

/* ----------------- */
/* Transaction Modal */
/* ----------------- */

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.transaction-modal {
  margin: 0 auto;
  margin-top: auto;
  min-width: 100%;
  background-color: hsl(var(--clr-light));
  border: none;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.header-modal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header-modal * {
  font-size: 1.125rem;
  color: hsl(var(--clr-navy));
}

.close-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.form-modal {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(5, 2.5em);
}

.submit-button,
.income-button,
.outcome-button,
.form-modal > input {
  font-size: var(--fs-400);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid hsl(var(--clr-gray), 0.5);
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-navy));
}

.types-modal {
  display: flex;
  gap: 0.5rem;
}

.income-button,
.outcome-button {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.income-button:hover,
.outcome-button:hover {
  color: black;
  border: 1px solid hsl(var(--clr-gray), 1);
}

.income-button.active {
  color: black;
  background-color: hsl(var(--clr-green), 0.1);
  border: 2px dashed hsl(var(--clr-green));
}

.outcome-button.active {
  color: black;
  background-color: hsl(var(--clr-red), 0.1);
  border: 2px dashed hsl(var(--clr-red));
}

.types-modal [class^="ph"] {
  font-size: var(--fs-600);
}

.types-modal > button:nth-child(1) [class^="ph"] {
  color: hsl(var(--clr-green));
}

.types-modal > button:nth-child(2) [class^="ph"] {
  color: hsl(var(--clr-red));
}

.submit-button {
  color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-gray));
  background-color: hsl(var(--clr-blue));

  transition: background-color 0.1s linear;
}

.submit-button:focus-visible,
.submit-button:hover {
  background-color: hsl(var(--clr-green));
}

/* ------------- */
/* Media queries */
/* ------------- */

@media (min-width: 480px) {
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .transaction-button {
    min-width: auto;
    padding: 0.65em 1.8em;
  }
}

@media (min-width: 600px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  .card:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .transaction-modal {
    margin: auto;
    min-width: min(90%, 35rem);
    background-color: hsl(var(--clr-light));
    border: none;
    padding: 2.5rem 1.5rem;
    border-radius: 8px;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.5);
  }

  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

@media (min-width: 840px) {
  .header {
    padding-top: 2rem;
    padding-bottom: 8rem;
  }

  .card {
    box-shadow: none;
  }

  .card-list {
    margin: 0;
    transform: translateY(-50%);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .card:nth-child(3) {
    grid-column: auto;
  }

  .transactions-table {
    margin: 0;
  }

  .transactions-table thead {
    display: block;
  }

  .transactions-table tr {
    gap: 0;
    flex-direction: row;
    margin-bottom: 0.6rem;
  }

  .transactions-table > tbody tr {
    box-shadow: none;
    padding: 0;
  }

  .transactions-table th,
  .transactions-table td {
    padding: 1em 1.5em;
    text-align: start;
    flex-basis: 100%;
    font-weight: var(--fw-400);
    color: hsl(var(--clr-gray));
  }

  .transactions-table > tbody td:nth-child(2) {
    font-size: inherit;
  }

  .transactions-table > tbody td:nth-child(1),
  .transactions-table > thead th:nth-child(1) {
    font-size: inherit;
    flex-basis: 200%;
  }

  .transactions-table > tbody td:nth-child(4),
  .transactions-table > thead th:nth-child(4) {
    flex-basis: 70%;
  }
}

@media (min-width: 1080px) {
  .card p {
    font-size: var(--fs-700);
  }
}
