/* ------------------------------------------- */
/*                  Variables                  */
/* ------------------------------------------- */

:root {
  --clr-red: 340, 80%, 50%;
  --clr-green: 150, 70%, 30%;
  --clr-orange: 40, 100%, 50%;
  --clr-blue: 256, 67%, 48%;
  --clr-blue-light: 256, 100%, 60%;
  --clr-navy: 227, 40%, 30%;
  --clr-gray: 227, 15%, 45%;
  --clr-light: 216, 20%, 95%;
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 0%;

  --ff-sans: "Poppins", sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  --shadow-2: 2px 4px 32px rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------- */
/*                    Reset                    */
/* ------------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid hsl(var(--clr-orange));
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------- */
/*              General & Utilities            */
/* ------------------------------------------- */

body {
  color: hsl(var(--clr-navy));
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  line-height: 1.5;
  background-color: hsl(var(--clr-light));
}

.container {
  margin: 0 auto;
  max-width: min(90%, 60rem);
}

.button {
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  border: none;
  cursor: pointer;
  background: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* ------------------------------------------- */
/*                    Header                   */
/* ------------------------------------------- */

.header-background {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: hsl(var(--clr-blue));
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo-container > img {
  width: 3rem;
}

.logo-container > h1 {
  font-weight: var(--fw-500);
  font-size: var(--fs-600);
  color: hsl(var(--clr-white));
}

.registry-button {
  margin-top: 1rem;
  min-width: 100%;
  padding: 1em 1.5em;

  color: hsl(var(--clr-white));
  border-radius: 5px;
  background-color: hsl(var(--clr-blue-light));
  box-shadow: var(--shadow);

  transition: background-color 0.1s linear, color 0.2s ease-in-out;
}

.registry-button:focus-visible,
.registry-button:hover {
  color: hsl(var(--clr-navy));
  border: none;
  background-color: hsl(var(--clr-white));
  box-shadow: none;
}

.registry-button:active {
  opacity: 0.9;
}

/* ------------------------------------------- */
/*                  Cards List                 */
/* ------------------------------------------- */

.card-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;

  margin-top: 1.5rem;
  list-style: none;
}

.card {
  padding: 1.5rem;
  flex-basis: 100%;
  border-radius: 5px;
  background-color: hsl(var(--clr-white));
  box-shadow: var(--shadow);
}

.card-header {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.card-header > p {
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  margin-bottom: 1rem;
}

.card-header > img {
  width: 2rem;
}

.card > p {
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
}

.card:nth-child(3) {
  background-color: hsl(var(--clr-green));
  color: hsl(var(--clr-white));
}

/* ------------------------------------------- */
/*                 Entries Table               */
/* ------------------------------------------- */

.entries-table {
  margin-top: 2rem;
  width: 100%;
}

.entries-table thead {
  display: none;
}

.entries-table tr {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  overflow: hidden;
  border-radius: 5px;
  font-weight: var(--fw-500);

  margin-bottom: 1rem;
}

.entries-table > tbody tr {
  padding: 1em 1.5em;
  background-color: hsl(var(--clr-white));
  box-shadow: var(--shadow);
}

.entries-table > tbody td:nth-child(1) {
  color: hsl(var(--clr-navy));
}

.entries-table > tbody td:nth-child(2) {
  font-size: var(--fs-500);
}

.entries-table .income {
  color: hsl(var(--clr-green));
  font-weight: var(--fw-600);
}

.entries-table .outcome {
  color: hsl(var(--clr-red));
  font-weight: var(--fw-600);
}

/* ------------------------------------------- */
/*                 Registry Modal              */
/* ------------------------------------------- */

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.registry-modal {
  margin: 0 auto;
  margin-top: auto;
  min-width: 100%;
  padding: 1rem;

  border: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  background-color: hsl(var(--clr-light));
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-header h2 {
  font-size: var(--fs-500);
  color: hsl(var(--clr-navy));
}

.modal-header img {
  width: 1.125rem;
}

.close-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-form > input,
.income-button,
.outcome-button,
.submit-button {
  padding: 0.5rem 1rem;

  font-size: var(--fs-400);
  color: hsl(var(--clr-navy));
  background: hsl(var(--clr-white));

  border-radius: 5px;
  border: 1px solid hsl(var(--clr-gray), 0.5);
}

.modal-button-group {
  display: flex;
  gap: 0.5rem;
}

.income-button,
.outcome-button {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.income-button > img,
.outcome-button > img {
  width: 1.5rem;
}

.income-button:hover,
.outcome-button:hover {
  color: hsl(var(--clr-black));
  border: 1px solid hsl(var(--clr-gray), 1);
}

.income-button.active {
  color: hsl(var(--clr-black));
  background-color: hsl(var(--clr-green), 0.1);
  border: 2px solid hsl(var(--clr-green));
}

.outcome-button.active {
  color: hsl(var(--clr-black));
  background-color: hsl(var(--clr-red), 0.1);
  border: 2px solid hsl(var(--clr-red));
}

.submit-button {
  margin-top: 1rem;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-blue));
  transition: background-color 0.1s linear;
}

.submit-button:focus-visible,
.submit-button:hover {
  background-color: hsl(var(--clr-blue-light));
}

/* ------------------------------------------- */
/*                  Media Queries              */
/* ------------------------------------------- */

@media (min-width: 480px) {
  .header-background .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .registry-button {
    margin-top: 0;
    min-width: auto;
  }
}

@media (min-width: 600px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  .card:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .registry-modal {
    margin: auto;
    min-width: 30rem;
    background-color: hsl(var(--clr-light));
    border: none;
    padding: 2.5rem 1.5rem;
    border-radius: 8px;
    box-shadow: var(--shadow-2);
  }

  .modal-header h2 {
    font-size: var(--fs-600);
    color: hsl(var(--clr-navy));
  }

  .modal-form {
    gap: 0.8rem;
  }

  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

@media (min-width: 840px) {
  .header-background {
    padding-top: 2rem;
    padding-bottom: 8rem;
  }

  .card {
    box-shadow: none;
  }

  .card-list {
    margin: 0;
    transform: translateY(-50%);

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .card:nth-child(3) {
    grid-column: auto;
  }

  .entries-table {
    margin: 0;
  }

  .entries-table thead {
    display: block;
  }

  .entries-table tr {
    gap: 0;
    flex-direction: row;
    margin-bottom: 0.6rem;
  }

  .entries-table > tbody tr {
    box-shadow: none;
    padding: 0;
  }

  .entries-table th,
  .entries-table td {
    padding: 1em 1.5em;
    flex-basis: 100%;
    text-align: start;
    font-weight: var(--fw-400);
    color: hsl(var(--clr-gray));
  }

  .entries-table > tbody td:nth-child(2) {
    font-size: inherit;
  }

  .entries-table > tbody td:nth-child(1),
  .entries-table > thead th:nth-child(1) {
    flex-basis: 200%;
  }

  .entries-table > tbody td:nth-child(4),
  .entries-table > thead th:nth-child(4) {
    flex-basis: 70%;
  }
}

@media (min-width: 1080px) {
  .card > p {
    font-size: var(--fs-700);
  }
}
